body{
    background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1129&q=80);
    text-align: justify;
    
}
p{
    color:antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    size: 30px;
}
img{
    width:"500";
    height:"350";
}
h1{
    background-color: antiquewhite;
    color: blue;
    text-align: center;
}
h2{
    background-color: antiquewhite;
    color: black;
    text-align: center;
}
a{
    color:antiquewhite;
}